// Colours
$white: #FFF;
$black: #333;
$grey: #514E4E;

// Sizes
$header-height: 60px;
$footer-height: 40px;

// Fonts
$font-family: 'Arial', sans-serif;

//
$box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
