// Colours
$white: #FFF;
$black: #333;
$grey: #514E4E;
$grey-light: #DDD;
$red: #FF2929;
$blue-link: #1A0DAB;

// Sizes
$header-height: 60px;
$footer-height: 40px;

// Fonts
$font-family: 'Arial', sans-serif;
