@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    padding: 10px 20px;
    @include font-size(14px);
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.header__title, .header__subtitle {
    display: flex;
    gap: 15px;
}

.header__title {
   font-weight: bold;
}

.header__icons {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: auto;
}

.header__menu svg {
    fill: $grey;
}

.header__user img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
