@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $footer-height;
    padding: 10px 20px;
    @include font-size(14px);
}

.footer__left {
    display: flex;
    align-items: center;
}

.footer__right {
    display: flex;
    align-items: center;
}
