@use '../../styles/variables' as *;

.homePage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

.homePage__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 20px;
}

.homePage__logo img {
    width: 300px;
    height: auto;
}
