@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.resultsSearch {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: calc(100vh - ($header-height + $footer-height));
}

.resultsSearch__logo {
    height: 40px;
}

.resultsSearch__logo img {
    height: 100%;
}

.resultsSearch__container {
    display: grid;
    grid-template-columns: 6fr 2fr;
    gap: 20px;
    width: 100%;
}

.resultsSearch__list {
    max-width: 800px;
    overflow-y: auto;
}

.resultsSearch__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0;
    cursor: pointer;
}

.resultsSearch__url, .resultsSearch__previewUrl {
    margin-bottom: 5px;
    @include font-size(14px);
    text-decoration: none;
}

.resultsSearch__title, .resultsSearch__previewTitle {
    margin-top: 0;
    margin-bottom: 10px;
    @include font-size(18px);
    color: $blue-link;
    font-weight: 500;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.resultsSearch__description, .resultsSearch__previewDescription {
    margin-bottom: 10px;
    @include font-size(14px);
    color: $grey;
}

.resultsSearch__preview {
    background-color: white;
    border-radius: 3px;
    max-width: 90%;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
}

.resultsSearch__previewOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.resultsSearch__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    padding: 20px;
    border: 1px solid $grey-light;
    border-radius: 3px;
}

.resultsSearch__preview img {
    margin-bottom: 10px;
    max-width: 100%;
    max-height: 300px;
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.resultsSearch__previewUrl {
    margin-bottom: 10px;
}

.resultsSearch__previewTitle {
    margin-top: auto;
    font-weight: bold;
    color: inherit;

    &:hover {
        text-decoration: none;
    }
}

.resultsSearch__empty {
    @include font-size(14px);
    color: $grey;
}

.resultsSearch__highlight {
    font-weight: bold;
}

@media (min-width: 768px) {
    .resultsSearch {
        padding: 20px;
        margin: 0 100px;
    }

    .resultsSearch__previewOverlay {
        display: contents;
    }
}
